li{
    font-weight: 700;
    font-size: 30px;
    list-style: none;
}
nav{
    display: flex;
    align-items: center;
    gap:30px;
}
nav a{
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}